# Jetbrains
.idea
# MacOS
.DS_Store
# Grafana manually installed plugins
config_files/grafana/var/lib/grafana/plugins
# Environment variables
.env
# Clickhouse storage manifest
config_files/clickhouse/etc/clickhouse-server/config.d/storage.xml
